__1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.__

        * 
        'hello'
        -87.8
        - 
        / 
        +	
        6

Ans_1:

        *       --expression
        'hello' -- String value
        -87.8   -- Float value
        -       --expression
        /       --expression
        +       --expression
        6       --Int value

__2. What is the difference between string and variable?__

Ans_2:

__String__ -  String are the values of String DataType. For example; 

    "Hello" or 'Hello' is String 


__Variable__- Variables are the containers which actually contains the values (more precisely the reference of address where values stored)

    x = "Hello"
Here x is the variable which conatins the String Type of Value "Hello"

__3.Describe three different data types.__

Ans_3:

__String:__ A string value is a collection of one or more characters put in single, double or triple quotes.

__List:__ A list object is an ordered collection of one or more data items, not necessarily of the same type, put in square brackets.

__Tuple :__ A Tuple object is an ordered collection of one or more data items, not necessarily of the same type, put in parentheses.

__4. What is an expression made up of? What do all expressions do?__

Ans_4: 

Python Expression contains the identifiers, operators, and operands. Expressions gets evaluated and produce the results

Example 

    x = 2+3. Once it gets evaluated results will be 5 which will get stored to variable x.

__5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?__

Ans_5:

|Statement in Python|Expression in Python|
|--------------------|--------------------|
|A statement in Python is used for creating variables or for displaying values.	|The expression in Python produces some value or result after being interpreted by the Python interpreter.|
|A statement in Python is not evaluated for some results.	|An expression in Python is evaluated for some results.|
|The execution of a statement changes the state of the variable.|	The expression evaluation does not result in any state change.|
|A statement can be an expression. |	An expression is not a statement.|
|Example :  X = 8 , Output : 8  | Example:   x = 	5+2 , output : 7|

__6. After running the following code, what does the variable bacon contain?__

    bacon = 22
    bacon + 1

Ans_6:

bacon will contain 22 becasue bacon+1 is an Expression and Expresssion does'nt chnage the state of varibales which involved  in operation.

Example:

In [3]:
bacon = 22
print(bacon)
print(bacon + 1)
print(bacon)

22
23
22

__7. What should the values of the following two terms be?__

    'spam' + 'spamspam'    
    'spam' * 3            
    
Ans_7:

    'spam' + 'spamspam'   = 'spamspamspam'
    'spam' * 3            = 'spamspamspam'
 Example;

In [27]:
'spam' + 'spamspam'

'spamspamspam'

In [28]:
'spam' * 3

'spamspamspam'

__8. Why is eggs a valid variable name while 100 is invalid?__

Ans_8: 

`eaggs` is valid variable name because its name started with a Alphabet and 

`100` is NOT a valid variable names because its name is started with a digit (i.e.1).

As per Python Variable names rule - A variable name must start with a letter or the underscore character NOT Number.


__9. What three functions can be used to get the integer, floating-point number, or string version of a value?__

Ans_9:

to get the integer, floating-point number, or string version of a value, we can use `int()`, `float()` and `str()` functions.

Example;

In [13]:
x = 2
print(x)

print(type(int(x)), int(x))
print(type(float(x)), float(x))
print(type(str(x)), str(x))

2
<class 'int'> 2
<class 'float'> 2.0
<class 'str'> 2

__10. Why does this expression cause an error? How can you fix it?__

    'I have eaten ' + 99 + ' burritos.'
Ans_10:

In [14]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

concatenation of String type and Int Type variable is not allowed in Python hence itâ€™s an `TypeError`.

To fix it convert 99 to string. Fixed expression is as below;

In [15]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'